.post__thumbnail img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

h2::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #000; /* Cambia esto al color que desees */
    margin-top: 10px; /* Espacio entre el texto y la línea horizontal */
}

