{{ define "main" }}
<main class="main list" role="main">
  {{- with .Title }}
  <header class="main__header">
    {{ $articles := where $.Site.RegularPages "Section" "post" }} <!-- Asegúrate de usar $ para el contexto de la página -->
    {{ $postCount := len $articles }} <!-- Cuenta el número de artículos -->
    
    {{ $yearsSince2007 := 2007 | sub now.Year }} <!-- Calcula los años desde 2007 -->
    <h1 class="main__title">Mis {{ $postCount }} artículo{{ if gt $postCount 1 }}s{{ end }} desde hace {{ $yearsSince2007 }} año{{ if ne $yearsSince2007 1 }}s{{ end }}</h1> <!-- Título actualizado -->


  </header>
  {{- end }}

  <div class="content main__content clearfix">
    {{- with .Content }}
    {{ . }}
    {{- end }}

    <ul>
      {{- range where .Site.RegularPages.ByDate.Reverse "Section" "post" }}
      {{ if and (ne .Title "") .Date .Params.creation }} <!-- Verifica Title y que haya Date -->
      <li>

	<!-- Mostrar fecha y título -->
	{{ $creationDate := .Params.creation }}
	{{ $creationDate := time $creationDate }}
	{{ $modificationDate := .Date }}
	{{ $edited = gt (sub $modificationDate.Unix $creationDate.Unix) (mul 12 2592000) }}
	
	{{ .Date.Format "20060102" }}{{ if $edited }} (Ed){{ end }} -
	<a href="{{ .Permalink }}">{{ .Title }}</a>

        <!-- Mostrar categorías -->
        {{ with .Params.categories }}
          - Cats: 
          {{ $cats := slice }} <!-- Inicializa el slice -->
          {{ range . }}
            {{ $cats = $cats | append (printf "<a href=\"/categories/%s\">%s</a>" (urlize .) .) }}
          {{ end }}
          {{ delimit $cats ", " }} <!-- Une las categorías con comas -->
        {{ end }}

        <!-- Mostrar tags -->
        {{ with .Params.tags }}
          - Tags: 
          {{ $tags := slice }} <!-- Inicializa el slice -->
          {{ range . }}
            {{ $tags = $tags | append (printf "<a href=\"/tags/%s\">%s</a>" (urlize .) .) }}
          {{ end }}
          {{ delimit $tags ", " }} <!-- Une los tags con comas -->
        {{ end }}
      </li>
      {{ end }}
      {{- end }}
    </ul>
  </div>
</main>
{{ end }}
