<!DOCTYPE html>
<html class="no-js" lang="{{ .Site.Language.Lang }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ block "title" . }}{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ .Site.Title }}{{ end }}</title>
	<script>(function(d,e){d[e]=d[e].replace("no-js","js");})(document.documentElement,"className");</script>
	<meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Params.Description }}{{ end }}">

	<!-- Tarjetas en Twitter ---->
	<meta name="twitter:card" content="summary_large_image"/>
	{{ if (.Params.thumbnail) }}<meta name="twitter:image" content="{{ .Site.BaseURL }}/{{ .Params.thumbnail }}" />{{else}}<meta name="twitter:image" content="http://www.sherblog.pro/images/logo.png" />{{end}}
	<meta name="twitter:title" content="{{ .Params.title }}"/>
	<meta name="twitter:description" content="{{ .Params.description }}"/>
	<meta name="twitter:creator" content="@sherblogpro">
	<meta name="twitter:site" content="sherblog.pro" />

	<!-- Open Graph para Mastodon ---->
	<meta property="og:type" content="article">
	<meta property="og:locale" content="es_ES">
	<meta property="og:site_name" content="Sherblog">
	<meta property="og:locale" content="es_ES">
	<meta property="og:title"   content="{{ .Params.title }}">
	<meta property="og:url"   content="{{ .Site.BaseURL }}">
	<meta property="og:description" content="{{ .Params.description }}"/>

	{{ if (.Params.thumbnail) }}<meta property="og:image" content="{{ .Site.BaseURL }}/{{ .Params.thumbnail }}" />{{else}}<meta property="og:image" content="{{ .Site.BaseURL }}/images/logo.png" />{{end}}

	
	
	<link rel="dns-prefetch" href="//fonts.googleapis.com">
	<link rel="dns-prefetch" href="//fonts.gstatic.com">
	{{ with .OutputFormats.Get "rss" -}}
	{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{ end -}}
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700">
	{{ $style := resources.Get "css/style.css" | resources.ExecuteAsTemplate "css/style.css" . -}}
	<link rel="stylesheet" href="{{ $style.RelPermalink }}">
	{{ range .Site.Params.customCSS -}}
	<link rel="stylesheet" href="{{ . | relURL }}">
	{{- end }}
	<link rel="shortcut icon" href="{{ "favicon.ico" | relURL }}">
	{{- if not .Site.IsServer }}
		{{ template "_internal/google_analytics_async.html" . }}
	{{- end }}

	{{ if .Params.css }}
	<link rel="stylesheet" href="{{ .Params.css }}">
	<style>
	  .map {
          height: {{ .Page.Params.mapa_alto }}px;
          width: 100%;
	  }
	</style>
	{{ end }}
	{{ if .Params.js }} <script src="{{ .Params.js }}"></script> {{ end }}
	
</head>
<body class="body">
	<div class="container container--outer">
		{{ partial "header" . }}
		<div class="wrapper flex">
			<div class="primary">
			{{ block "main" . }}
				{{ with .Content }}
				<div class="content main__content clearfix">
					{{ . }}
				</div>
				{{ end }}
			{{ end }}
			</div>
			{{ partial "sidebar.html" . }}
		</div>
		{{ partial "footer" . }}
	</div>
<script async defer src="{{ "js/menu.js" | relURL }}"></script>
{{ range .Site.Params.customJS -}}
<script src="{{ . | relURL }}"></script>
{{- end }}
{{- partial "mathjax.html" . -}}
</body>
</html>
