{{ define "main" }}
  <h2>Todos mis artículos</h2>
  <ul>
    {{ range where .Site.RegularPages.ByDate.Reverse "Section" "post" }}
    {{ if ne .Title "" }} <!-- Verifica Title -->
    <li>
        <!-- Mostrar fecha y título -->
        {{ .Date.Format "20060102" }} - <a href="{{ .Permalink }}">{{ .Title }}</a>
        

        <!-- Mostrar categorías -->
        {{ with .Params.categories }}
          - Cats: 
          {{ $cats := slice }} <!-- Inicializa el slice -->
          {{ range . }}
            {{ $cats = $cats | append (printf "<a href=\"/categories/%s\">%s</a>" (urlize .) .) }}
          {{ end }}
          {{ delimit $cats ", " }} <!-- Une las categorías con comas -->
        {{ end }}

        <!-- Mostrar tags -->
        {{ with .Params.tags }}
          - Tags: 
          {{ $tags := slice }} <!-- Inicializa el slice -->
          {{ range . }}
            {{ $tags = $tags | append (printf "<a href=\"/tags/%s\">%s</a>" (urlize .) .) }}
          {{ end }}
          {{ delimit $tags ", " }} <!-- Une los tags con comas -->
        {{ end }}
    </li>
    {{ end }}
    {{ end }}
  </ul>
{{ end }}



