{{ define "main" }}
  <h2>Todos mis artículos</h2>
  <ul>
    {{ range sort (where .Site.RegularPages "Section" "post") (time .Params.creation) "desc" }}
    <li>
        {{ if .Params.creation }}{{ (time .Params.creation).Format "20060102" }}{{ else }}Fecha no disponible{{ end }}({{ .Date.Format "20060102" }}) - 
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        <!-- Mostrar categorías -->
        {{ with .Params.categories }}
          - Cats: 
          {{ $tags := slice }} <!-- Inicializa el slice -->
          {{ range . }}
            {{ $tags = $tags | append (printf "<a href=\"/categories/%s\">%s</a>" (urlize .) .) }}
          {{ end }}
          {{ delimit $tags ", " }} <!-- Une los tags con comas -->
        {{ end }}
	<!-- Mostrar tags -->
        {{ with .Params.tags }}
          - Tags: 
          {{ $tags := slice }} <!-- Inicializa el slice -->
          {{ range . }}
            {{ $tags = $tags | append (printf "<a href=\"/tags/%s\">%s</a>" (urlize .) .) }}
          {{ end }}
          {{ delimit $tags ", " }} <!-- Une los tags con comas -->
        {{ end }}
	
      </li>
    {{ end }}
  </ul>
{{ end }}
