{{ define "main" }}
  <h2>Todos mis artículos</h2>
  <ul>
    {{ range where .Site.RegularPages.ByDate.Reverse "Section" "post" }}
      <li>
        <a href="{{ .Permalink }}">{{ .Date.Format "2006-01-02" }} - {{ .Title }}</a>
        {{ with .Params.categories }}
          ({{ delimit . ", " }})
        {{ end }}
	<!-- Mostrar tags como enlaces -->
        {{ with .Params.tags }}
          - Tags: 
          {{ $tags := slice }}
          {{ range . }}
            {{ $tags = append $tags (printf "<a href=\"/tags/%s\">%s</a>" (urlize .) .) }}
          {{ end }}
          {{ delimit $tags ", " }}
        {{ end }}
	
      </li>
    {{ end }}
  </ul>
{{ end }}
