{{/* ----------------------------------------------------------------- */}}
{{/* ----- Cálculo del nº de vértices que he posteado e intro ------- */}}
{{/* ----------------------------------------------------------------- */}}

{{ $posts := (where .Site.RegularPages "Section" "==" "vertices") }}
{{ $postCount := len $posts }}

<p>
Una nueva ruta y un nuevo mojón alcanzado (y con este ya van {{ $postCount }}), en este caso se trata del vértice geodésico {{ .Page.Params.vertice_nom }} está situado en el término municipal de {{ .Page.Params.vertice_loc }}  a una altura de {{ .Page.Params.vertice_alt }} metros. 
</p>

{{/* ----------------------------------------------------------------- */}}
{{/* ----- Introducir la fotografía del vértice si hay parámetro ----- */}}
{{/* ----------------------------------------------------------------- */}}

{{ if .Page.Params.vertice_img }}
<center><a href="https://i.imgur.com/{{ .Page.Params.vertice_img }}.jpg"><img src="https://i.imgur.com/{{ .Page.Params.vertice_img }}l.jpg" title="Vista del vertice" target="_blank"/></a></center>
<br>
{{ end }}

{{/* ----------------------------------------------------------------- */}}
{{/* ---------- Creación e inclusión del mapa con Openlayers --------- */}}
{{/* ----------------------------------------------------------------- */}}

<p>En el centro del siguiente mapa se puede ver la ubicación del vértice junto con todos los demás que hasta ahora he "conquistado" (<a href="/gpx/mis_vertices.gpx">Aquí</a> está el archivo con las coordenadas de todos ellos). Puedes ver más información oficial en la web del <a href="ftp://ftp.geodesia.ign.es/Red_Geodesica/Hoja{{ .Page.Params.vertice_hoja }}/{{ .Page.Params.vertice_hoja }}{{ .Page.Params.vertice_id }}.pdf" target="_blank">Instituto Geográfico Nacional</a>. Desde esta misma web es posible acceder al <a href="ftp://ftp.geodesia.ign.es/utilidades/">directorio de utilidades</a> donde se actualiza periódicamente un archivo con todos los vértices de España.</p>

<div id="map" class="map"></div>
<script type="text/javascript">

  var base_osm = new ol.layer.Tile({source: new ol.source.OSM()});
  var centro = new ol.proj.fromLonLat([{{ .Page.Params.vertice_lon }}, {{ .Page.Params.vertice_lat }}])

  ////////////////////////
  // Dibujo del vértice //
  ////////////////////////
  
  var svg = '<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25px" height="35px" xml:space="preserve">'+    
'<path fill="white" stroke="black" d="M 10 0 l 0 15 l -10 0 l 0 20 l 25 0 l 0 -20 l -10 0 l 0 -15 z"/>'+'</svg>';
  
var mysvg = new Image();
mysvg.src = 'data:image/svg+xml,' + encodeURIComponent(svg);


  ////////////////////////////
  // Estilo para un vértice //
  ////////////////////////////

  var style = new ol.style.Style({
    image: new ol.style.Icon({
      img: mysvg,
      imgSize:[25,35]
    }),
    text: new ol.style.Text({
      text: 'texto',
      scale: 1.3,
      fill: new ol.style.Fill({
        color: '#000000'
      }),
      stroke: new ol.style.Stroke({
        color: '#FFFF99',
        width: 3.5
      }),
      offsetY: 25
    })  
  });

  ///////////////////////////////////
  // Cargar el archivo map.geojson //
  ///////////////////////////////////

  var source_gpx = new ol.source.Vector({
    //url : '/map.geojson',
    url : '/gpx/mis_vertices.gpx',
    //format : new ol.format.GeoJSON()
    format : new ol.format.GPX()
  })

  var gpx_layer = new ol.layer.Vector({
    source : source_gpx,
    style: function(feature) {
      style.getText().setText(feature.get('name'));
      return style;
    } 
  })

  ///////////////////////////////////////

  var highlight;
var displayFeatureInfo = function(pixel) {

  gpx_layer.getFeatures(pixel).then(function(features) {
    var feature = features.length ? features[0] : undefined;
    //var ele = document.getElementById('ele');
    if (features.length) {
      //info.innerHTML = feature.getId() + ': ' + feature.get('name');
      window.open("../"+feature.get('name'), "_top");
    }

    if (feature !== highlight) {
      if (highlight) {
        featureOverlay.getSource().removeFeature(highlight);
      }
      if (feature) {
        featureOverlay.getSource().addFeature(feature);
      }
      highlight = feature;
    }
  });

};

  ///////////////////////
  // Creacion del mapa //
  ///////////////////////
  
  var map = new ol.Map({
 
    target: 'map',
    layers: [base_osm,gpx_layer],

    view: new ol.View({
      center: centro,
      zoom: 10
    })
  });

  map.on('pointermove', function(evt) {
    if (evt.dragging) {
      return;
    }
    var pixel = map.getEventPixel(evt.originalEvent);
    //displayFeatureInfo(pixel);
  });

  map.on('click', function(evt) {
    displayFeatureInfo(evt.pixel);
  });
</script>
<br>

{{/* ----------------------------------------------------------------- */}}
{{/* ----- Introducir la fotografía panorámica si hay parámetro ------ */}}
{{/* ----------------------------------------------------------------- */}}

<p>Aquí una vista panorámica desde el mismo vértice...</p>

{{ if .Page.Params.vertice_pan }}
<center><a href="https://i.imgur.com/{{ .Page.Params.vertice_pan }}.jpg"><img src="https://i.imgur.com/{{ .Page.Params.vertice_pan }}h.jpg" title="Vista panorámica desde el vértice" target="_blank"/></a></center>
{{ end }}

<br>

{{/* -------------------------------------------------------------------- */}}
{{/* ------------- Introducir la ruta para Garmin y Wikiloc ------------- */}}
{{/* -------------------------------------------------------------------- */}}

{{ if .Page.Params.vertice_gps_gar }}

<p>Puedes ver la ruta que he seguido desde <a href="http://connect.garmin.com/modern/activity/{{ .Page.Params.vertice_gps_gar }}">Garmin Connect</a>

{{ if .Page.Params.vertice_gps_wik }}

o <a href="http://es.wikiloc.com/wikiloc/view.do?id={{ .Page.Params.vertice_gps_wik }}">Wikiloc</a>.</p>

{{ else }}

.</p>

{{ end }}

{{ else if .Page.Params.vertice_gps_wik }}

<p>Puedes ver la ruta que he seguido desde <a href="http://es.wikiloc.com/wikiloc/view.do?id={{ .Page.Params.vertice_gps_wik }}">Wikiloc</a>.</p>

{{ end }}

<br>

{{/* -------------------------------------------------------------------- */}}
{{/* ---------------- Introducir la panoramica de Youtube --------------- */}}
{{/* -------------------------------------------------------------------- */}}

{{ if .Page.Params.vertice_videopan }}

<div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
  <iframe src="https://www.youtube.com/embed/{{ .Page.Params.vertice_videopan }}?autoplay=1" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;" allowfullscreen title="YouTube Video"></iframe>
</div>

{{ end }}

<br>
